.home_container{
    max-width: 100vw;
    overflow: hidden;
    .home{
        display: grid;
        grid-template-rows: 100vh;
        grid-template-columns: 20vw 80vw;
        border: 1px solid #ccc;
        .body{
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: hsl(220, 100%, 98%);
            .content{
                p{
                    font-size: 3rem;
                    text-align: center;
                }
            }
        }
    }
}