@import '../../GlobalStyles/global.scss';


.Dashboard_container{
    .Feature_container{
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        @include responsive(phone){
            flex-direction:column;
            padding: 3rem;
            margin-top: 0;
        }
        @include responsive(tablet){
            flex-direction:column;
            padding: 3rem;
            margin-top: 0;
        }
        .Feature_items{
            box-shadow: 1px 1px 5px 2px rgba(150,143,143,0.68);
            -webkit-box-shadow: 1px 1px 5px 2px rgba(150,143,143,0.68);
            -moz-box-shadow: 1px 1px 5px 2px rgba(150,143,143,0.68);
            padding: 2.5rem 7rem 1.5rem 3.5rem;
            border-radius: 5px;
            margin-top: 2rem;
            .Feature_title{
                font-size: 2.5rem;
            }
            .data{
                display: flex;
                gap: 4.5rem;
                align-items: center;
                margin-top: 1.5rem;
                .compare_number{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    p{
                        font-size: 1.5rem;
                        margin-top: 1rem;
                    }
                    svg{
                        font-size: 2rem;
                    }
                }
            }
            .compare_data{
                margin-top: 1.5rem;
                font-size: 1.3rem;
            }
        }
    }
}