@import '../../GlobalStyles/global.scss';

.header_container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 3rem;

    .header_left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 13rem;
        @include responsive(tablet){
            gap: 1rem;
            flex-direction: row-reverse;
        }
        .header_logo{
            font-size: 2.5rem;
            text-decoration: none;
            font-weight: bold;
            color: #4154f1;
        }
        .search_header{
            display: flex;
            justify-content: space-between;
            gap: 3rem;

            svg{
                font-size: 3.5rem;
                color: hsl(216, 54%, 37%);
                cursor: pointer;
            }
            .search_container{
                position: relative;
                input{
                    height: 35px;
                    width: 250px;
                    padding: 1rem;
                    font-size: 1.5rem;
                }
                svg{
                    position: absolute;
                    right: 0;
                }
                @include responsive(tablet){
                    display: none;
                }
                @include responsive(phone){
                    display: none;
                }
            }
        }

    }
    .header_right{
        display: flex;
        gap: 2rem;
        margin-right: 2rem;
        align-items: center;
        cursor: pointer;
        @include responsive(phone){
            display: none;
        }
        .header_icons{
            display: flex;
            gap: 1.5rem;
            svg{
                font-size: 2.5rem;
            }
        }
        .header_img{
            position: relative;
            img{
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            .subMenu{
                z-index: 100;
                .info{
                    text-align: center;
                    margin-bottom: 1rem;
                    h2{
                        font-size: 2.5rem;
                    }
                }
                position: absolute;
                width: 200px;
                top: 5rem;
                right: 10px;
                padding: 0.5rem;
                border-radius: 5px;
                background-color: rgb(240, 249, 250);
                box-shadow: 1px 1px 5px 2px rgba(150,143,143,0.68);
                -webkit-box-shadow: 1px 1px 5px 2px rgba(150,143,143,0.68);
                -moz-box-shadow: 1px 1px 5px 2px rgba(150,143,143,0.68);
                ul{
                    list-style: none;

                    li{
                        font-size: 1.6rem;
                        border-top: 0.5px solid #ccc;
                        padding: 1rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        &:hover{
                            background-color: rgba(216, 221, 225, 0.8);

                        }
                        .my_profile{
                            text-decoration: none;
                            color: black;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            svg{
                                font-size: 2rem;
                            }
                        }
                        svg{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

    }
}